*{
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper{
	display: grid;
	grid-template-rows: 10vh 60vh 10vh 15vh 5vh;
	grid-gap: 0px;
	text-align: center;
}
#title{
	background-color: #8e0705;
	color: #eee;
	font-family: Anton;
	font-size: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#yesno{
	background-color: #111;
	color: #eee;
	font-family: Anton;
	font-size: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
#startsin{
	background-color: #111;
	color: #eee;
	font-family: Anton;
	font-size: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#counter{
	background-color: #111;
	color: #eee;
	font-family: Anton;
	font-size: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#disclaimer{
	background-color: #111;
	color: #eee;
	font-family: Anton;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wrapperWeekend{
	display: grid;
	grid-template-rows: 10vh 90vh;
	grid-gap: 0px;
	text-align: center;
}

.weekendStyleYesNo{
	background-color: #fff !important;
	color: #00FDF1 !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	animation-name: example;
	animation-duration: .5s;
    animation-iteration-count: infinite;
}

.weekendTitle{
	background-color: #fff !important;
	color: #FD00E1 !important;
	
}

@keyframes example {
    0% {color: #00FDF1;}
    25% {color: #000;}
    50% {color: #FD00E1;}
    75% {color: #000;}
    100% {color: #00FDF1;}
    0% {background-color: #000;}
    25% {background-color: #FD00E1;}
    50% {background-color: #000;}
    75% {background-color: #00FDF1;}
    100% {background-color: #000;}

}

@media screen and (max-width: 600px){
	.weekendStyleYesNo{
		font-size: 300px;
	}
	.wrapper{
		grid-template-rows: 10vh 40vh 5vh 40vh 5vh;
		grid-gap: 0px;
	}
	.wrapperWeekend{		
		grid-template-rows: 10vh 90vh;
	}

	.weekendStyleYesNo{
		font-size: 250px !important;
	}
	#yesno{
		font-size: 200px;
	}
}

/*#00FDF1,#FD00E1,#000000,#00FFD5,#E400F7,#00FDF1,#FD00E1,#000000*/